*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
body{
    background-image: url(/Agency-image/andrew-kliatskyi-qat59GWzvLo-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    color: white;
}
   /* Navber design   */
.logo{
    color:white;
    font-size: 12px;
}
span{
    color: crimson;
    font-size: 40px;
}
.logo{
    margin-left: 10px;
}
.navber-design{
    display: flex;
    align-items: center;
    position: sticky;
}
.navber{
    margin-left: 340px;
    
}
.navber a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
    font-weight: 700;
    display: inline-block;
    margin-top: 15px;
    position: relative;
}
.navber a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #ffffff3c;
    position: absolute;
    left: 0px;
    bottom: -4px;
    transition: 0.5s ease;
}
.navber a:hover::after{
    width: 100%;
}

/* Home page design  */
.home-text{
    width: 600px;
    margin-top: 120px;
}
.image{
    margin-left: 250px;
}

.image .normal-text{
letter-spacing: 4px;
color: #ae9c38;
margin-left: 10px;
padding: 20px;
font-size: 17px;
}
.image h3{
font-size: 40px;
text-align: center;
padding-bottom: 4px;
} 
.image h4{
    color: #b0bd21;
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
}
.image .text p{
    text-align: justify;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight:100;
    font-family: 'Times New Roman', Times, serif;
}
.image .text a{
    background-color: #0a76f2;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    color: white;
    padding: 10px 50px;
    margin-left: 200px;
    border-radius: 10px;
    transition: transform 1s ease-out;

}
.image .text a:hover{
    transform: scale(1.1);
}


/* about   */
.bg-image{
    background-image:url(/about-image/fotis-fotopoulos-LJ9KY8pIH3E-unsplash.jpg);
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    opacity: 8;
    margin-top: 70px;
}
.bg-image h1{
    text-align: center;
    padding-top: 180px;
    font-size: 40px;
}
.bg-image a{
    text-decoration: none;
    color: white;
    background-color: #0a76f2;
    padding: 5px 25px;
    margin-top: 30px;
    margin-left: 500px;
    display: inline-block;
    transition: transform 0.5s ease;
}
.bg-image a:hover{
    transform: scale(1.1);
}

.about-total-1{
    top: 60px;
    position: relative;
}
.about-image-1 img{
    position: absolute;
    left: 650px;
    border-radius: 10px;
    transition: transform 2s ease;
}
.about-text1{
    position: absolute;
    width: 500px;
    text-align: justify;
    left: 30px;
}

.about-total-2{
    top: 350px;
    position: relative;
}
.about-image-2 img{
    position: absolute;
    left: 650px;
    border-radius: 10px;
    transition: transform 2s ease;
}
.about-text2{
    position: absolute;
    width: 500px;
    text-align: justify;
    left: 30px;
}

.about-total-3{
    top: 650px;
    position: relative;
}
.about-image-3 img{
    position: absolute;
    left: 650px;
    border-radius: 10px;
    transition: transform 2s ease;
}
.about-text3{
    position: absolute;
    width: 500px;
    text-align: justify;
    left: 30px;
}
.about-image-1 img:hover{
    transform: scale(1.1);
    }
.about-image-1img:hover{
    transform: scale(1.1);
    }
 .about-image-2 img:hover{
    transform: scale(1.1);
    }
 
/* footer design  */
.fottar{
    margin-top:1000px;
    background-color: black;
    width: 100%;
    height: 600px;
    position: relative;
}
.fast-text-fottar1{
    position: absolute;
    top: 60px;
    left: 900px;
}
.fast-text-fottar1 h4{
    padding-bottom: 20px;
}
.fast-text-fottar1 p{
    padding-bottom: 20px;
    font-weight: 100;
}
.fast-text-fottar2{
    position: absolute;
    top: 60px;
    left: 700px;
}
.fast-text-fottar2 h4{
    padding-bottom: 20px;
}
.fast-text-fottar2 p{
    padding-bottom: 20px;
    font-weight: 100;
}


.fast-text-fottar3{
    position: absolute;
    top: 70px;
    left: 500px;
}
.fast-text-fottar3 h4{
    padding-bottom: 20px;
}
.fast-text-fottar3 p{
    padding-bottom: 20px;
    font-weight: 100;
}

.fast-text-fottar4{
    position: absolute;
    top: 70px;
    left: 300px;
}
.fast-text-fottar4 h4{
    padding-bottom: 20px;
}
.fast-text-fottar4 p{
    padding-bottom: 20px;
    font-weight: 100;
}
.fast-text-fottar5{
    position: absolute;
    top: 70px;
    left:40px;
}
.fast-text-fottar5 h4{
    padding-bottom: 20px;
}
.fast-text-fottar5 p{
    padding-bottom: 20px;
    font-weight: 100;
}
.icon-for-fottar{
    position: absolute;
    top: 400px;
    left:450px;
}
.icon-for-fottar img{
    width: 30px;
}
.icon-for-text h1{
   padding-right: 120px;
}

.icon-for-text{
position: absolute;
top: 430px;
left:350px;
}
.icon-for-text h1{
    margin-top: 10px;
    margin-left: 60px;
}
.icon-for-text p{
    font-size: 12px;
    color: gold;
    margin-left: 20px;
}
.copyright{
    position: absolute;
    top: 560px;
}
.copyright h3{
  padding-left: 270px;
  font-size: 14px;
  
}